/* reset*/
ul {
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 2px;
}

/* overall type settings */
body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #828282;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


/* HOME PAGE + COMMON ELEMENTS (HEADER/FOOTER) */
/* header + header logo */
.header {
	width: 100%;
	height: 80px;
	/*background-color: #f8f8f8;*/
	padding-top: 18px;
	position: fixed;
	top: 0;
	z-index: 9999; /*fixed header*/
	background-color: #fff;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.header img {
	margin-top: 0px;
	max-height: 40px;
	max-width: 72px;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

/* navigation within header */
.nav
{
	width: 75%;
	float:right;
	padding-top: 10px;
	/*border: 1px solid #000;*/
}

.nav ul {
	list-style-type: none;
}

.nav li {
	float: right;
}

.nav a {
	font-weight: 400;
	display: block;
	margin-left: 55px;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
}

.left-none a {
	margin-left: 1px;
}
	
/* full screen width image banner*/
.bigImg{
	/*margin-top: 80px;*/
	height: 730px;
	margin-bottom: 40px;
	background-image: url(../images/jumbotron.jpg); 
	background-position: center center;
	background-size: cover;
}

/*.bigImg img {
	position: relative;
	margin-top: -20%;
}*/

/* banner hover - project description + link */
.bannerHover {
	position: absolute;
	top: 80px;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	margin: 0 0 0 0;
	transition:all .4s ease-in-out;  
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
}

.bannerHover p {
	font-size: 11px;
	padding: 13px;
	background-color: rgba(255,255,255,0.8);
}

.bannerHover a {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
}

.bigImg:hover .bannerHover, .bigImg:active .bannerHover {
	margin: 30px 0 0 0;
	opacity: 1;
}

/* images linking to gallery view */
.galleryType {
	overflow:hidden;
	/*margin-bottom: 20px;*/
	
}

.galleryType img {
	max-height: 500px;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 12px;
}

/* grayscale hover effect */
.grayscale {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);

	transition:all .4s ease-in-out;    
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
}

.gallery:hover .grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

/* text hover effect */
.galleryLabel {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(255,255,255,0.8);
	margin: 40px;
	margin-top: 25px;
	margin-bottom: 65px;

	transition:all .4s ease-in-out;    
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out; 
}

.galleryLabel h1 {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	color: #000;
	margin-top: 70%;
}

.gallery:hover .galleryLabel {
	opacity: 1;
}

/* secondary banner image - without margins */
.banner{
	background-color: #b1ddea;
	margin-bottom: 40px;
}

.banner img{
	max-height: 350px;	
}

.bannerHoverSmall {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	margin: 0 0 0 0;
	transition:all .4s ease-in-out;    
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
}

/* banner hover - project description + link */
.bannerHoverSmall p {
	font-size: 11px;
	padding: 13px;
	background-color: rgba(255,255,255,0.8);
}

.bannerHoverSmall a {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
}

.banner:hover .bannerHoverSmall, .banner:active .bannerHoverSmall {
	margin: 30px 0 0 0;
	opacity: 1;
}

/* images linking to project view */
.projectType{
	margin-bottom: 15px;
}

.projectType img {
	margin-bottom: 15px;
	padding: 12px;
}

/* text hover effects */
.projectLabel {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(255,255,255,0.8);
	margin: 60px;
	margin-top: 45px;

	transition:all .4s ease-in-out;    
    -webkit-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out; 

}

.projectLabel h1 {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	color: #000;
	margin-top: 30%;

}

.project:hover .projectLabel {
	opacity: 1;
}

.project:hover .grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

/* footer */
.footer {
	height: 125px;
	background-color: #f8f8f8;
}

.footer img {
	width: 50px;
	height: auto;
	padding-top: 40px;
}

.footer p {
	float:right;
	font-size: 10px;
	text-align: right;
	padding-top: 50px;
}

.footer img:hover {
	opacity: 0.7;

}

/*fixed header css for jquery transiton */
.fixed{
	height: 60px;
	position: fixed;
	top: 0;
	padding-top: 10px;
	z-index: 9999; 
}

.fixed img {
	margin-top: 3px;
	max-height: 30px;
	max-width: 54px;
}

/* PROJECT PAGE */
.first {
	margin-top: 80px;
}

.project-main {
	margin-bottom: 40px;
}

.fillscreen {
	width: 100%;
	height: auto;
}

.project-square {
	margin-bottom: 40px;
}

.project-square img {
	padding: 12px 12px 12px 0px;
}

.project-square h2 {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	color: #000;
	padding-top: 30px;
	padding-bottom: 15px;
}

.project-square p {
	font-size: 11px;
}

/* PROJECT PAGE WITH IMAGE SLIDER */
/* changes to slick theme css - arrows */
.slick-prev:before,
.slick-next:before
{
    color: #fff;
    opacity: 0.1;

    transition:all .2s ease-in-out;    
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out; 
}

.slick-prev
{
    left: 20px;
    z-index: 999;
}
.slick-next
{
    right: 20px;
}

.single-item:hover .slick-prev:before, .single-item:hover .slick-next:before {
	opacity: 0.75;
}

.single-item:hover .slick-prev:hover:before, .single-item:hover .slick-next:hover:before {
	opacity: 1;
}

/* 'FAKE' GALLERY PAGE' */
 .mockup {
 	margin-top: 80px;
 	margin-bottom: 30px;
 }


/*mdia queries*/

/* Large Devices, Wide Screens - Effects elements with col-md-* */
@media only screen and (max-width : 1200px) {

	.galleryLabel h1 {
		font-size: 13px;
	}

}

/* Medium Devices, Desktops - Effects elements with col-sm-* */
@media only screen and (max-width : 992px) {

	.galleryLabel {
		margin: 30px;
		margin-top: 15px;
	}

	.galleryLabel h1 {
		font-size: 13px;
		letter-spacing: 1px;
	}

	.projectLabel {
		margin: 45px;
		margin-top: 30px;
	}

	.projectLabel h1 {
		font-size: 13px;
	}

}

/* Small Devices, Tablets - Effects elements with col-xs-* */
@media only screen and (max-width : 768px) {

	.header img {
		max-height: 80px;
		margin-top: 0;
	}

	.fixed img {
		margin-top: 7px;
		max-height: 65px;
	}

	.nav {
		padding-top: 30px;
	}
	.nav a
	{
	  	margin-left: 35px;
		font-size: 13px;
	}

	.bigImg{
		height: 300px;
	}


	.bannerHover p{
		font-size: 10px;
	}

	.banner:hover .bannerHover {
		margin: 20px 0 0 0;
	}

	
	.galleryLabel {
		margin: 40px;
		margin-top: 25px;
	}

	.galleryLabel h1 {
		font-size: 13px;
		letter-spacing: 1px;
	}

	.bannerHoverSmall p{
		font-size: 10px;
	}

	.banner:hover .bannerHoverSmall {
		margin: 20px 0 0 0;
	}

	.projectLabel {
		margin: 60px;
		margin-top: 45px;
	}

	.projectLabel h1 {
		font-size: 20px;
	}

	.project-square h2 {
		font-size: 18px;
		padding-top: 0px;
		padding-bottom: 15px;
	}

	.project-square img {
		padding-top: 30px;
	}

}

/* Extra Small Devices, Phones - Effects elements with col-xs-*, the smallest screens */ 
@media only screen and (max-width : 490px) {

	.nav {
		width: 80%;
		padding-top: 30px;
	}
	.nav a
	{
	  	margin-left: 16px;
		text-transform: uppercase;
		font-size: 16px;
	}

	.bigImg{
		height: 240px;
	}

	.bannerHover p{
		font-size: 9px;
	}

	.bigImg:hover .bannerHover {
		margin: 18px 0 0 0;
	}


	.bannerHoverSmall p{
		font-size: 10px;
	}

	.banner:hover .bannerHoverSmall {
		margin: 18px 0 0 0;
	}

	.projectLabel {
		margin: 45px;
		margin-top: 30px;
	}

	.projectLabel h1 {
		font-size: 16px;
	}

}

/* Custom, iPhone Retina - specifically optomized for my iPhone 5
Modifies any hover effects to be mobile friendy */ 
    @media only screen and (max-width : 320px) {

    .header img {
    	margin-top: 9px;
		max-width: 55px;
	}
		
    .fixed img {
    	margin-top: 14px;
		max-width: 40px;
	}

    .nav {
		width: 80%;
		padding-top: 33px;
		float:right;
	}

	.nav a
	{
	  	margin-left: 15px;
		font-size: 13px;
	}

	.bigImg{
		height: 200px;
	}

	.bigImg:hover .bannerHover, .bigImg:active .bannerHover {
		margin: 10px 0 0 0;
		opacity: 1;
	}

	.grayscale {
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
	}

	.galleryLabel {
		/*margin: 25px;
		margin-top: 10px;*/
		opacity: 1;
		margin: 0;
		margin-top: 0;
		background-color: rgba(255,255,255,0);
	}

	.galleryLabel h1 {
		margin-top: 0;
		font-size: 11px;
		letter-spacing: 1px;
		background-color: rgba(255,255,255,0.8);
		padding: 8px;
	}
	.bannerHoverSmall {
		width: 150%;
	}
	.banner:hover .bannerHoverSmall, .banner:active .bannerHoverSmall  {
		margin: 10px 0 0 0;
		opacity: 1;
	}

	.projectLabel {
		opacity: 1;
		margin: 0;
		margin-top: 0;
		background-color: rgba(255,255,255,0);
	}

	.projectLabel h1 {
		margin-top: 0;
		font-size: 13px;
		letter-spacing: 1px;
		background-color: rgba(255,255,255,0.8);
		padding: 8px;
	}

	.footer p {
		font-size: 8px;
		padding-top: 50px;
	}

	.footer img {
		width: 30px;
		height: auto;
		padding-top: 50px;
	}
        
}	
